/*
    bg = #170336
    deep? highlight = #9656f5
    light highlight = #d2b7fb
*/



body {
    background-color: #170336;
    color:white;
    font-family: "Dongle", sans-serif;
    font-size:36px;
    margin-left: 230px;
    padding: 25px;
    line-height: 0.8;
}

h {
    font-weight: 700;
    font-style: bold;
}

div.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    float:left;
}

.marquee {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    flex-direction: column;
    animation: scrolling 8s linear infinite
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-item {
    flex-shrink: 0;
    width:100%;
    object-fit: cover;
    display: block;
    line-height:0;
}

@keyframes scrolling {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.mini {
    font-size: 24px;
    position:absolute;
    bottom: 0;
    color:#d2b7fb;
    
}

a {
    color: #9656f5;
    text-decoration: none;
}

a:hover {
    color:white;
}

.wombook{
    position: fixed;
    top: 50%;
    right:25px;
    text-align:center;
    width:350px;
    transform: translateY(-50%);
}

.wombook p {
    margin-bottom: 5px;
}

.wombook iframe {
    position:relative;
    border: 2px solid white;
    margin-top: 0;
}

.changelog {
    border: 2px solid white;
    width:350px;
    height:150px;
    top: 25px;
    right: 25px;
    text-align:left;
    position:fixed;
    overflow: scroll;
    font-size: 24px;
}

.changelog p {
    margin: 5px 10px;
}

.changelog h1 {
    text-align: center;
    margin: 5px 0;
}
